@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url("https://papers.co/wallpaper/papers.co-sm47-pastel-purple-blur-gradation-1-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em;
    font-family: "Verdana", serif;
}

h1 {
    font-family: "Verdana", serif;
    font-size: 30px;
    font-weight: bold;
    color: #618dba;
    background-color: rgba(250, 244, 165, 0.7);
    padding: 10px;
}

a {
    color: #274472;
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

h2 {
    color: #5eccc5;
    font-weight: normal;
    font-size: 20px;
}

#main-information {
    padding: 50px;

}
p {
    font-size: 23px;
}

ul {
    font-size: 20px;
}

h9{
    font-size:13px;
    color:grey;
}

.header {
    padding: 25px 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.col {
    width: 150px;
    padding: 0;
}

.citation-list {
    padding: 25px 75px;
    line-height: 40px;
}

.people-holder {
    display: flex;
}

.person{
    padding: 0;
}

.person-name {
    margin-bottom: 25px;
}

.person-inner {
    background: grey;
    height: 100%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    align-content: center;
}

.person-inner img {
    margin-top: 10px;
    margin-bottom: 30px;
}